body {
	margin: 0;
	font-family: sans-serif;
	font-size: 22px;
}

article p:first-of-type {
	font-size: 2rem;
	font-style: italic;
}

article img:last-of-type {
	border: 10px solid slategray;
}

blockqoute:only-of-type {
	border-left: 5px solid slategray;
	padding-left: 1rem;
	font-weight: bold;
	font-style: italic;
	color: slategray;
}
/*takes in a number, args, or combo as a param*/
article p:nth-of-type(odd){
	color: maroon;
}