body {
	color: #2E603C;
}

button {
	cursor: pointer;
	padding: 1.4rem;
	border: 0;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #3ac569;
}

/*unset set the value of the parent and if the parent does not have one then it
goes to its parent and so on. but if the parent is not determeined it goes to
the browser default.*/
section button {
	color: unset;
	font-size: unset;
}